@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
.navbar-brand {
  margin-right: 8rem;
}
.bg-dark {
  /* --bs-bg-opacity: 1; */
  background-color: #007c7c !important;
}
.btn-outline-success {
  color: #198754;
  border-color: #198754;
  background-color: #ffc107;
}
nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.sticky-top {
  padding-left: 300px;
}
.vacsinsteps {
  padding: 45px;
  background-color: #edffff;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.text-bg{
  background-color: #007c7c;
  color: white;

  
}
img.card-img-top {
  /* width: full; */
  height: 300px;
}
.text-h1{
  color: #007c7c ;
}
.button.btn.btn-success {
  background-color: #007c7c;
}
.row-container.row {
  padding: 20px 0px ;
}
.container-two{
 background-color: #edffff;;
}
.banner-he{
  height: 300px;
}
img.d-block.w-100 {
  height: 400px;
}
.carousel.slide {
  padding-top: 20px;
}
a.text-white.active {
  
 
  text-decoration: none;
}
a.text-white.active:hover {
  
 
  background-color: #198754;
}
.text-h5{
 color: #007c7c;
 padding-top: 20px;
}
label.form-label {
  /* display: d; */
  display: block;
}
button.btn.btn-primary {
 
  margin: 20px 0px;
  background-color: #ffc107;
  color: #007c7c;
}
.info-product{
  display: float
  ;
}
.text-title{
  color: #007c7c;
  text-align: center;
}
.card-groud{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  /* border: 1px solid gray; */


}
.tx-title {
  height: 300px;
  ;
  padding: 10px;
  background-color: #edffff;
  margin: 10px;
  border-radius: 10px;
}
.btn-pro{
  padding-bottom: 10px;
  margin: 10px;
}
.nav-top.navbar-nav {
  right: 50px;
  position: absolute;
}
.signinpage {
  
  margin: auto;
  width: 80%;
 
  padding: 50px 0px;
}
.container-admin{
  display: flex;
  margin-top: 10px;
  margin-left: 0px;
}


.link{
  text-decoration: none;
  color: inherit;
}
.main-content{
  width: 100%;
  /* width: 100%; */
  margin-right: -40px;
  margin-left: 20px;
}